@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
#mantine-ptrabztic,
.mantine-MultiSelect-defaultValue,
.mantine-Input-input,
.mantine-1adyevc {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.LazyLoad {
  opacity: 0;
  filter: blur(20px);
  transition: all 1s ease-in-out;
}